.book{
    width:1000px;
    height:1000px;
}
.mBook{
    height:100px;
    margin:10px;
}

.mInput {
    height: 100px;
    width:100%;
    margin: 1px;
}
.pDescript{
    font-size:11px;
}

#btnReg {
    display: block;
    margin: 0 0 0 auto;
}
.media-heading {
    font-size: 0.7em;
    border-bottom: solid 2px #ddd;
    text-align: left;
    padding: 10px 0;
    
}

.media-heading:hover{
    background-color:antiquewhite;
}

.media-footer {
    width: 95%;
}

#head{
    display:block;
    width:500px;
    height:200px;
    margin-bottom:15px;

}

#body {
    display: block;
    width: 500px;
    height:400px;
    overflow: auto;
    -ms-overflow-style: none;   
}

#thread {
    display: block;
    height: 350px;
    width: 300px;
    overflow: auto;
    -ms-overflow-style: none;
}

#threadform {
    width: 300px;
    height:200px;
    margin-top:15px;
}

.icon{
    width:7%;
    padding-right:10px;
}

.no {
    background-color: #fff;
    margin-bottom: 10px; 
    margin-left: 20px;
}

.title{
    text-align:left;
    color:black;
}

.topDescript {
    font-size: 0.8em;
    color: gray;
    padding-left:10px;
}

.caption {
    text-align:center;
    margin-bottom:40px;
}

.homemsg {

}

.error {
    text-align:center;
}

.bkHome{
    text-align:right;
    padding-right:60px;
}
